<header>
    <nav>
        <a href="/">
            <h1>Authors' Dashboard</h1>
        </a>
        
         <!-- If logged in, display username and logout -->
         <div class="navLinkDiv">
            <% if (localStorage.getItem('full_name')) { %>
                <p><%= localStorage.getItem('full_name') %></p>
                <a href="/log-out">Log Out</a>
            <% } %>
                
        </div>
    </nav>

</header> 