<!DOCTYPE html>
<html>
  <%- include("./partials/head"); %>
  <body>
    <%- include("./partials/header"); %>
    <main>
      <h1>Error 403: Page forbidden</h1>
      <p>
        This page is not accessible with your current authentication.
      </p>
    </main>
    <%- include("./partials/footer"); %>
  </body>
</html>